.image {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
}

#image-1 {
    background-image: url('../../images/1.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover
}

#image-2 {
    background-image: url('../../images/2.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

#image-3 {
    background-image: url('../../images/3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

#image-4 {
    background: url("../../images/4.jpg") no-repeat center center;
}

#image-5 {
    background: url("../../images/5.jpg") no-repeat center;
    background-size: contain;
}