.card {
    width: 400px;
    background-color: rgb(255, 248, 239);
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgb(185, 185, 185);
    margin-bottom: 40px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
}

.card-content {
    padding: 20px;
}

.card-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-bottom: 10px;
}

.card-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
