p {
    font-family: Arial, Helvetica, sans-serif;
}

#paragraph-1 {
    font-size: 8px;
}

#paragraph-2 {
    font-size: 12px;
}

#paragraph-3 {
    font-size: 16px;
}

#paragraph-4 {
    font-size: 20px;
}

#paragraph-5 {
    font-size: 28px;
}

#paragraph-6 {
    font-size: 36px;
}
