.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons button {
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: white;
    border: none;
    padding: 8px 16px;
}

#button-1 {
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

#button-2 {
    border-width: 2px;
    border-style: dashed;
    border-color: blue;
}

#button-3 {
    border-width: 3px;
    border-style: double;
    border-color: lightgray;
}

#button-4 {
    border-width: 4px;
    border-style: double solid solid double;
    border-color: green;
}

#button-5 {
    border-width: 8px;
    border-style: solid;
    border-color: lightblue;
}

#button-6 {
    background-color: rgb(255, 221, 129);
    border: 1px solid rgb(254, 244, 217);
    border-radius: 10px 10px 10px 0;
}

#button-7 {
    border-left-style: solid;
    border-right-style: solid;
    background-color: rgb(210, 245, 210);
    border-width: 5px;
    color: green;
    border-color: green;
}

#button-8 {
    border: 1px solid red;
    border-radius: 10px;
    background-color: rgb(255, 229, 229);
}

#button-9 {
    border: 4px solid purple;
    background-color: rgb(255, 241, 214);
    font-weight: 900;
    color: purple;
}

#button-10 {
    border-left-style: 1px solid red;
    border-bottom: 4px solid red;
    border-right: 4px solid red;
    color: red;
    font-weight: 900;
    /* border-radius: 50px; */
}

#button-11 {
    border-width: 6px;
    border-style: dashed;
    border-color: lightgray;
    font-weight: 900;
    color: rgb(132, 132, 132);
    border-radius: 50px;
}

#button-12 {
    background-color: rgb(254, 228, 123);
    border: 5px solid black;
    border-style: dashed;
    font-weight: 700;
}
